<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Tracking Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
    <style>
        #map {
            height: 90vh;
            width: 100%;
        }
    </style>
</head>
<body>

<div id="map"></div>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script>
    // Map creation
    const map = L.map('map').setView([50.4501, 30.5234], 15); // Default Kyiv center
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; OpenStreetMap contributors'
    }).addTo(map);

    // Car icon
    const carIcon = L.icon({
        iconUrl: "{{ url_for('static', path='/images/car.png') }}",
        iconSize: [32, 42],
        iconAnchor: [16, 42],
    });

    // Peak icon
    const peakIcon = L.icon({
        iconUrl: "{{ url_for('static', path='/images/peak.png') }}",
        iconSize: [32, 42],
        iconAnchor: [16, 42],
    });

    // Pothole icon
    const potholeIcon = L.icon({
        iconUrl: "{{ url_for('static', path='/images/pothole.png') }}",
        iconSize: [32, 42],
        iconAnchor: [16, 42],
    });

    // Constants
    let carMarker = null;
    let polyline = L.polyline([], {color: 'blue'}).addTo(map);
    let path = [];
    let currentIndex = 0;
    let isProcessing = false;
    const peaks = new Map();
    const potholes = new Map();

    const OFFSETS = {PEAK: 0.001, POTHOLE: 0.001};

    const isInsideExistingArea = (lat, lng, areas) => {
        for (const {minLat, maxLat, minLng, maxLng} of areas.values()) {
            if (lat >= minLat && lat <= maxLat && lng >= minLng && lng <= maxLng) {
                return true;
            }
        }
        return false;
    };

    const addMarkerIfNew = (latitude, longitude, type, storage, offset) => {
        if (!isInsideExistingArea(latitude, longitude, storage)) {
            storage.set(path.length - 1, {
                lat: latitude,
                lng: longitude,
                minLat: latitude - offset,
                maxLat: latitude + offset,
                minLng: longitude - offset,
                maxLng: longitude + offset,
            });
        }
    };

    // Websocket connection handling
    const socket = new WebSocket("{{ websocket_url }}");
    socket.onopen = () => console.log("WebSocket connected.");
    socket.onerror = error => console.error("WebSocket error:", error);
    socket.onclose = () => console.warn("WebSocket closed.");
    socket.onmessage = function (event) {
        try {
            const newPoints = JSON.parse(event.data); // [{x, y, z, latitude, longitude, peak, pit, timestamp}]

            newPoints.reverse();
            newPoints.forEach(({latitude, longitude, peak, pit}) => {
                path.push([longitude, latitude]);

                if (peak) addMarkerIfNew(latitude, longitude, 'peak', peaks, OFFSETS.PEAK);
                if (pit) addMarkerIfNew(latitude, longitude, 'pothole', potholes, OFFSETS.POTHOLE);
            });

            if (!isProcessing) processPoints();
        } catch (e) {
            console.error("Error parsing WebSocket data:", e);
        }
    };

    // Function which draw line and move car on given points
    function processPoints() {
        if (currentIndex < path.length) {
            isProcessing = true;
            polyline.addLatLng(path[currentIndex]);

            if (carMarker) {
                carMarker.setLatLng(path[currentIndex]);
            } else {
                carMarker = L.marker(path[currentIndex], {icon: carIcon}).addTo(map);
            }

            if (peaks.has(currentIndex)) {
                const {lat, lng} = peaks.get(currentIndex);
                L.marker([lng, lat], {icon: peakIcon}).addTo(map);
            }

            if (potholes.has(currentIndex)) {
                const {lat, lng} = potholes.get(currentIndex);
                L.marker([lng, lat], {icon: potholeIcon}).addTo(map);
            }

            currentIndex++;
            setTimeout(processPoints, 100);
        } else {
            isProcessing = false;
        }
    }
</script>
</body>
</html>