Adafruit-BBIO==1.1.1
Click==7.0
colorama==0.3.7
decorator==4.3.0
distro==1.3.0
Flask==1.0.2
gps==3.19
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.1.0
marshmallow==3.19.0
numpy==1.16.2
packaging==24.0
paho-mqtt==2.1.0
pyctrl==0.4.3
rcpy==0.5.1
scipy==1.1.0
typing-extensions==4.7.1
Werkzeug==0.14.1
